<% if (site.posts.length){ %>
<div class="widget-wrap"><!--公告-->
    <div class="widget">
        <h3 class="widget-title"><%= __('announcement') %></h3>
        <div class="info"><!--信息-->
            <%- theme.announcement || config.announcement %><!--公告-->
        </div>
    </div>
</div>
<% } %>
